<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    {{words.oops}}</h1>
                <h2>
                    {{words.forofor}}</h2>
                <div class="error-details">
                    {{words.message}}
                </div>
                <div class="error-actions">
                    <a routerLink="/home" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        {{words.button_redirect}} </a>
                </div>
            </div>
        </div>
    </div>
</div>
