<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=<%= linksett %>">
    <title>Email Update Success</title>
</head>
<body>
    <h1>Email Updated Successfully</h1>
    <p>Your email address has been updated successfully. You will be redirected to the app in 5 seconds. If not, <a href="<%= linksett %>">click here</a>.</p>
</body>
</html>
