<body>
    <div class="container-fluid px-0">
      <nav class="navbar navbar-expand-sm navbar-dark bg-black py-0 px-0">
          <a class="navbar-brand" href="#"><img id="logo" src="../../../assets/logo.png" class="logo_image"> &nbsp;&nbsp;&nbsp;Portfolio.</a>
          <span class="v-line"></span>
          <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li [class]="active_home">
                      <a class="nav-link" routerLink="/dashboard">Home <i class="fa-solid fa-house"></i></a>
                  </li>
                  <li [class]="active_sett">
                      <a class="nav-link" routerLink="/dashboard/settings">Settings <i class="fa-solid fa-gear"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-button" routerLink="{{link}}" target="_blank">Link <i class="fa-solid fa-link"></i></a>
                  </li>
                  <li class="nav-item link-button">
                      <a class="nav-link link-button" href="javascript:void(0);" (click)="logout()">Logout <i class="fa-solid fa-right-from-bracket"></i> </a>
                  </li>
              </ul>
          </div>
      </nav>
    </div>
</body>