<div class="card  container">
  <h2 class="header-name">Experience Section</h2>
    <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col"> Position</th>
            <th scope="col">Entreprise</th>
            <th scope="col">post Description</th>
            <th scope="col">Period</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of li?.slice(1)">
            <td>{{item.post}}</td>
            <td>{{item.entreprise}}</td>
            <td><textarea [value]="item.description_post" readonly></textarea></td>
            <td>{{item.time}}</td>
            <td><button class="btn btn-primary" (click)="delete(item)" >Delete</button>&nbsp; <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="modify_exp(item.entreprise,item.description_post,item.time,item.post,item)">Modify</button></td>
          </tr>
        </tbody>
      </table>
    <form [formGroup]="expForm" (ngSubmit)="additem()">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Post" formControlName="post">
            </div>
            <div class="col">
            <input type="text" class="form-control" placeholder="Entreprise"formControlName="entreprise">
            </div>
            <div class="col">
              <textarea type="text" class="form-control" placeholder="Description" formControlName="description_post"></textarea>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Period" formControlName="time">
                </div>
                
            <div class="col">
                <button class="btn btn-primary" type="submit" >Add</button>
            </div><br>
        </div>

    </form><br>
    <button class="btn btn-primary" (click)="updateexp()">Save Changes</button><br>
</div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
            <input type="text" class="form-control" placeholder="Entreprise" [formControl]="entreprise">
            </div>
            <div class="col">
              <textarea type="text" class="form-control" placeholder="Description" [formControl]="description"></textarea>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Period" [formControl]="time">
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="update_exp()">Save changes</button>
        </div>
      </div>
    </div>
  </div>