<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">{{words.headertext}}</div>
    <div class="content">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">{{words.name}}</span>
            <input type="text" placeholder="{{words.name}}" formControlName="name" required>
          </div>
          <div class="input-box">
            <span class="details">{{words.surname}}</span>
            <input type="text" placeholder="{{words.surname}}" formControlName="surname" required>
          </div>
          <div class="input-box">
            <span class="details">{{words.email}}</span>
            <input type="text" placeholder="{{words.email}}" formControlName='email' required>
          </div>
          <div class="input-box">
            <span class="details">{{words.phone}}</span>
            <input type="text" placeholder="{{words.phone}}" formControlName="phone" required>
          </div>
          <div class="input-box">
            <span class="details">{{words.password}}</span>
            <input type="password" placeholder="{{words.password}}" required formControlName='password'>
          </div>
          <div class="input-box">
            <span class="details">{{words.confirmpass}}</span>
            <input type="password" placeholder="Confirm your password" required>
          </div>
        <div class="input-box width-100">
            <span class="details">{{words.birth}}</span>
            <input type="date"  required formControlName="birthdate">
          </div>
        </div>
        <div class="button">
          <button type="submit" [disabled]="!signupForm.valid" >{{words.button_text}}</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
