<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="{{words.name}}" formControlName="name" required>
          </div>
          <div class="input-box">
            <span class="details">Surname</span> 
            <input type="text" placeholder="{{words.surname}}" formControlName="surname" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="{{words.email}}" formControlName='email' required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="{{words.phone}}" formControlName="phone" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="{{words.password}}" required formControlName='password'>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" required>
          </div>
        <div class="input-box width-100">
            <span class="details">Birthday</span>
            <input type="date"  required formControlName="birthdate">
          </div>
        </div>
        <div class="button">
          <button type="submit" [disabled]="!signupForm.valid" >{{words.button_text}}</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
