<div class="card  container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Awards Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of li">
            <td>{{item.name}}</td>
            <td><button class="btn btn-primary" (click)="delete(item)">Delete</button> &nbsp; <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifyaward" (click)="modify(item.name,item)">Modify</button></td>
          </tr>
        </tbody>
      </table>
    <form  [formGroup]="awardsForm" (ngSubmit)="additem()">
        <div class="row">
            <div class="col">
            <input type="text" class="form-control" placeholder="Awards Name" aria-label="First name" formControlName="name">
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit" [disabled]="!awardsForm.valid">Add</button>
            </div><br>
        </div>

    </form><br>
    <button class="btn btn-primary" (click)="updateskills()">Save Changes</button><br>
</div>


  <!-- Modal -->
  <div class="modal fade" id="modifyaward" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" placeholder="Programming language name" aria-label="First name" [formControl]="name_modal" >
                </div>
               
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="update()">Save changes</button>
        </div>
      </div>
    </div>
  </div>