<div class="card  container">
    <h2 class="header-name">Interests Section</h2>
    <div class="col-md-12">
        <div class="form-floating">
            <textarea class="form-control"  rows="5" id="floatingTextarea" [formControl]="interest"></textarea>
            <label for="floatingTextarea">Interests</label>
          </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <button class="form-control btn btn-primary" (click)="updateinterest()" >Save changes</button>
          </div>
    </div>
    <br>
</div>