<app-dash-nav [active_sett]="here" ></app-dash-nav>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{li?.fullname}}</span><span class="text-black-50">{{li?.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form [formGroup]="updateForm" (ngSubmit)="update()">
                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels">Fullname</label><input type="text" class="form-control" placeholder="Full name" value="" formControlName="fullname"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="Phone number" value="" formControlName="phone"></div>
                            <div class="col-md-12"><label class="labels">Email</label><input type="email" class="form-control" placeholder="Email" value="" formControlName="email"></div>
                            <div class="col-md-12"><label class="labels">Birthdate</label><input type="text" class="form-control" placeholder="Birthdate" value="" formControlName="birthdate"></div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Link Options</span></div><br>
               <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="{{li?.alias}}">
                  </div>
            </div>
        </div>
    </div>
</div>