<body>
    <app-dash-nav [active_home]="here"></app-dash-nav>
    <br>
    <h2 class="section">Header Section</h2>
    <app-dash-home></app-dash-home>
    <br>
    <hr>
    <h2 class="section">Education Section</h2>
    <app-dash-educ></app-dash-educ>
    <br>
    <hr>
    <h2 class="section">Experience Section</h2>
    <app-dash-experience></app-dash-experience>
    <br>
    <hr>
    <h2 class="section">Skills Section</h2>
    <app-dash-skills></app-dash-skills>
    <br>
    <h2 class="section" >Awards and Certifications Section</h2>
    <app-dash-certif></app-dash-certif>
    <br>
    <h2 class="section">Interests Section</h2>
    <app-dash-interest></app-dash-interest>
</body>
