<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Portfolio.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light">Make your own portfolio..!</h1>
          <p class="lead">From here with simple click.</p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h2 class="fw-light">our lastest works.. </h2>
      <ul *ngFor="let item of li">
        <li><a href="http://localhost:4200/portfolio/{{item.alias}}">{{item.alias}}</a></li>
      </ul>
    </div>
    <div class="container text-center">
         Made with <i class="fa-solid fa-heart"></i> by <a target="_blank" href="https://wissem-hammami.ovh">Portfolio Team</a>
    </div>
  </section>